ion-popover::part(content) {
  --width: 300px;
  left:100px;
}

.loading-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 45px;
  margin: 0;
  padding: 0;
  ion-spinner { --color: var(--color-grey-medium); }
}

ion-header{
    ion-toolbar {
      height: 357px;
      @media only screen and (orientation: landscape) {
        height: fit-content;      }
    }
  }

.mobile-header{
  min-height: 90px;
}

.mobile-body{
  // height: -webkit-fill-available;
  padding-top: 14px;
  .container-tabs{
    width: 98%;
    height: 48px;
    background: #E7EBF1;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .tabs{
    background: #FFFFFF;
    border-radius: 12px;
    width: 29%;
    height: 40px;
    font-family: "Gilroy-Light", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    align-items: center;
    color: #122348;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    padding-top: 10px;
  }
  .no-active{
    border-color: #f3f5f8;
    border-width: 0.1px;
    border-style: groove;
    border:4px outset;
  }
}

  .i-back{
    background-color: transparent;
    background-position: center;
    width: 36px;
    height: 36px;
    background-image: url(../../../assets/icon/icon-go-back.png);
    margin-top: 38px;
    margin-left: 21px;
  }

.mobile-sub-header{
  height: 76px;
  .mobile-sub-header-back{
    float: left;
  }
  .mobile-sub-header-title{
    font-family: "Gilroy-Light", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;    
    padding-top: 45px;
  }
}

.custom-modal{
  position: fixed;
  .modalc-close{
    width: 48px;
    height: 48px;
    left: 45%;
    // right: 50%;
    top: 10%;
    background: #FFFFFF;
    position: fixed;
    border-radius: 50px;
  }
  .modalc-opacity{
    position: fixed;
    width: 100%;
    height: 812px;
    left: 0px;
    top: 0px;
    background: #211C20;
    opacity: 0.6;
  }
  .modalc-body{
    position: fixed;
    width: 100%;
    height: 670px;
    left: 0px;
    top: 27%;
    background: #FFFFFF;
    border-radius: 34px;
    font-family: "Gilroy-Light", sans-serif;
    font-style: normal;
    font-size: 15px;
    padding-right: 26px;
    padding-left: 26px;
    overflow: auto;
  }
  @media only screen and (orientation: landscape) {
    .modalc-close{
      left: 50%;
    }
  }
}

.form-label{
  font-family: "Gilroy-Light", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;

}

.form-control{
  font-family: "Gilroy-Light", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  background: #FFFFFF;  
  // border: 1px solid #E7EBF1;
  border-radius: 12px;
  color: black !important;
  padding-left: 8px !important;
}

.row {
  font-family: "Gilroy-Light", sans-serif;
  font-style: normal;
  font-size: 13px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 16px;
  margin-left: 0px;
  margin-right: 0px;
    .buscador-container-inputs {
      width: 327px;
      margin-right: auto;
      margin-left: auto;
      overflow: hidden;
      margin-bottom: 16px;
      .mobile-action-text{
        width: 327px;
        height: 48px;
        border-radius: 12px;
        background: #71d1f6;
        border-color: #f3f5f8;
        border-width: 0.1px;
        border-style: groove;
        .mobile-text{
          margin-left: 12px;
          float: left;
          margin-top: 17px;
          font-family: "Gilroy-Light", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 15px;
          line-height: 14px;
          display: flex;
          align-items: center;
          color: #FFFFFF;
        }
        input[type=text],input[type=date],select{
          width: 217px;
          height: 46px;
          background: #FFFFFF;
          opacity: 0.89;
          border-radius: 12px;
          border: none;
          font-family: "Gilroy-Light", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          display: flex;
          align-items: center;
          position: relative;
          padding-left: 18px;
          float: right;
        }
        input[type=date]{
          width: 217px;
          height: 48px;
          background: #FFFFFF;
          opacity: 0.89;
          border-radius: 12px;
          border: none;
          font-family: "Gilroy-Light", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          display: flex;
          align-items: center;
          position: relative;
          padding-left: 18px;
          float: right;
        }
      }
      .mobile-action-button{
        font-family: "Gilroy-Light", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        align-items: center;
        text-align: center;
        color: #008BEF;
        input[type=button]{
          width: 118px;
          height: 48px;
          left: 129px;
          top: 282px;
          background: #FFFFFF;
          border-radius: 30px;
          border: none;
        }
      }
  }
}

.row{
  .row-td-1{
    margin-bottom: 16px;
    width: 135px;
    .titulo{
      font-family: "Gilroy-Light", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 14px;
      color: #122348;
      height: 17px;
      overflow: hidden;
      margin-bottom: 10px;
    }
    .descripcion{
      opacity: 0.5;
      margin-top: 7px;
      font-size: 16px;
    }
    @media only screen and (orientation: landscape) {
      // width: 200px;
     }
  }
  .row-td-2{
    margin-bottom: 16px;
    width:283px;

    .titulo{
      font-family: "Gilroy-Light", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 14px;
      color: #122348;
      margin-right: 50px;
      overflow: hidden;
      margin-bottom: 10px;
    }
    .descripcion{
      opacity: 0.5;
      margin-top: 7px;
      font-size: 16px;
    }
     @media only screen and (orientation: landscape) {
      width: 217px;
    }
   }
}

.inline{
  width: 50%;
  @media only screen and (orientation: landscape) {
    width: 100%;
  }
}


.container-text-date{
  padding: 0px;
}

.input-button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 295px;
  height: 56px;
  background: #0F0E0F;
  border-radius: 30px;
  color: #FFFFFF;
  font-family: "Gilroy-Light", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 27px;
}

table{
  width: 100%;
}

.mobile-table{
  background: #F3F5F8;
  border-radius: 22px;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}

.mobile-button-edit{
  width: 118px;
  height: 48px;
  background: #0F0E0F;
  border-radius: 30px;
  font-family: "Gilroy-Light", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-bottom: -15px;
  margin-right: 20px
}

.mobile-button-ver{
  width: 118px;
  height: 48px;
  background: #FFFFFF;
  border-radius: 30px;
  font-family: "Gilroy-Light", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #008BEF;
  margin-bottom: -15px;
  border-color: #008BEF;
  border-width: 1px;
  border-style: solid;
  margin-right: 20px
}

.btn-upload{
  width: 140px;
  height: 48px;
  background: #FFFFFF;
  border-radius: 30px;
  font-family: "Gilroy-Light", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #008BEF;
  margin-top: 20px;
  border-color: #008BEF;
  border-width: 1px;
  border-style: solid;

}



.mobile-table-file{
  background: #F3F5F8;
  border-radius: 22px;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  margin-bottom: 16px;
  .row-file{
    font-family: "Gilroy-Light", sans-serif;
    font-style: normal;
    font-size: 13px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 16px;
    margin-left: 0px;
    margin-right: 0px;
    .row-file-td-1{
      margin-bottom: 16px;
      width: 135px;
      .titulo{
        font-family: "Gilroy-Light", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 14px;
        color: #122348;
        height: 17px;
        overflow: hidden;
        margin-bottom: 10px;
      }
      .descripcion{
        opacity: 0.5;
        margin-top: 7px;
        font-size: 16px;
      }
      @media only screen and (orientation: landscape) {
        // width: 200px;
       }
    }
    .row-file-td-2{
      margin-bottom: 16px;
      width:283px;

      .titulo{
        font-family: "Gilroy-Light", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 14px;
        color: #122348;
        margin-right: 50px;
        overflow: hidden;
        display: inline-block;
      }
      .descripcion{
        opacity: 0.5;
        display: inline-block;
        font-size: 16px;
      }
       @media only screen and (orientation: landscape) {
        width: 217px;
      }
     }
  }
}

.container-seccion{
  background: #F3F5F8;
  border-radius: 22px;
  font-family: "Gilroy-Light", sans-serif;
  font-style: normal;
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid #babfc7;
  margin-bottom: 10px;
}


.margin-top {
  margin-top: 16px;
}


.i-icon-camera {
  background-image: url(../../../assets/icon/icon_camera.png);
  width: 52px;
  height: 52px;
  display: inline-block;
  margin-right: 40px;
}

.i-icon-folder {
  background-image: url(../../../assets/icon/icon_folder.png);
  width: 52px;
  height: 52px;
  display: inline-block;
}

.ion-list-custom{
  z-index: 9999999999999;
  position: absolute!important;
  width: 95%;
  font-family: "Gilroy-Light", sans-serif;
  font-style: normal;
  font-size: 11px;
  background: #FFFFFF;
  border: 1px solid #E7EBF1;
  border-radius: 12px;
  padding-left: 15px;
  padding-right: 15px;
}
